# Loops II

## EOSC 211

**Week 6 Day 2**

**Learning Objectives:**  
1. More practice with loops
2. Write elegant, efficient code

**Write Python code to solve the following problems.**

## Question 1

**Display the numbers of the series 2 4 6 8 10 12 …100 to the screen one by one.**

In [1]:
# your code here

In [4]:
# andrew's soln
import numpy as np
for num in np.arange(2,101,2):
    print(num)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

## Question 2

You are given the matrix $A$ which is size 10x20. The following code loops through each element $A_{ij}$ and calculates $i \cdot j \cdot A_{ij}$. Modify this code to store successive calculations in successive elements of a new variable `B` which will be size 1x200.

In [22]:
# modify this code
A = np.ones([10,20])

for i in np.arange(0,10):
    for j in np.arange(0,20):
        i * j * A[i,j]
        print(i,j)

0 0
0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9
0 10
0 11
0 12
0 13
0 14
0 15
0 16
0 17
0 18
0 19
1 0
1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
1 10
1 11
1 12
1 13
1 14
1 15
1 16
1 17
1 18
1 19
2 0
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
2 10
2 11
2 12
2 13
2 14
2 15
2 16
2 17
2 18
2 19
3 0
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
3 10
3 11
3 12
3 13
3 14
3 15
3 16
3 17
3 18
3 19
4 0
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
4 10
4 11
4 12
4 13
4 14
4 15
4 16
4 17
4 18
4 19
5 0
5 1
5 2
5 3
5 4
5 5
5 6
5 7
5 8
5 9
5 10
5 11
5 12
5 13
5 14
5 15
5 16
5 17
5 18
5 19
6 0
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
6 10
6 11
6 12
6 13
6 14
6 15
6 16
6 17
6 18
6 19
7 0
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
7 10
7 11
7 12
7 13
7 14
7 15
7 16
7 17
7 18
7 19
8 0
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
8 10
8 11
8 12
8 13
8 14
8 15
8 16
8 17
8 18
8 19
9 0
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9
9 10
9 11
9 12
9 13
9 14
9 15
9 16
9 17
9 18
9 19

In [26]:
# andrew's soln
B = np.empty(200)
k = 0 # create an index variable to loop over the elements of B
for i in np.arange(0,10):
    for j in np.arange(0,20):
        B[k] = i * j * A[i,j]
        k += 1
print(B) # this question gets modified by pythons counting from 0 convention instead of matlab from 1

[  0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.   0.
   0.   0.   0.   0.   0.   0.   0.   1.   2.   3.   4.   5.   6.   7.
   8.   9.  10.  11.  12.  13.  14.  15.  16.  17.  18.  19.   0.   2.
   4.   6.   8.  10.  12.  14.  16.  18.  20.  22.  24.  26.  28.  30.
  32.  34.  36.  38.   0.   3.   6.   9.  12.  15.  18.  21.  24.  27.
  30.  33.  36.  39.  42.  45.  48.  51.  54.  57.   0.   4.   8.  12.
  16.  20.  24.  28.  32.  36.  40.  44.  48.  52.  56.  60.  64.  68.
  72.  76.   0.   5.  10.  15.  20.  25.  30.  35.  40.  45.  50.  55.
  60.  65.  70.  75.  80.  85.  90.  95.   0.   6.  12.  18.  24.  30.
  36.  42.  48.  54.  60.  66.  72.  78.  84.  90.  96. 102. 108. 114.
   0.   7.  14.  21.  28.  35.  42.  49.  56.  63.  70.  77.  84.  91.
  98. 105. 112. 119. 126. 133.   0.   8.  16.  24.  32.  40.  48.  56.
  64.  72.  80.  88.  96. 104. 112. 120. 128. 136. 144. 152.   0.   9.
  18.  27.  36.  45.  54.  63.  72.  81.  90.  99. 108. 117. 126. 135.
 144. 153. 162. 171.]

## Question 3

**Given a variable `x = [1, 12, 53, 34, 61, 16, 17, 38, 20]`,  generate a new variable `y` whose elements are**

**a.	2 times the value of the corresponding element in `x` if the latter is even**

**b.	3 times the value of the corresponding element in `x` if the latter is odd**

In [28]:
x = [1, 12, 53, 34, 61, 16, 17, 38, 20]
y = np.empty_like(x)
for i in range(len(x)):
    if x[i] % 2 == 0: # check if x[i] is even
        y[i] = 2 * x[i]
    else:
        y[i] = 3 * x[i]
print(y)

[  3  24 159  68 183  32  51  76  40]

## Question 4 

**Given a user’s input of some integer num, calculate the factorial of the input. Definition: n! = n(n-1)(n-2)...(3)(2)(1)**

In [30]:
# assigns user input to a variable `num`
num = int(input('Enter an integer: '))
# add your code here

Enter an integer: 4

In [44]:
# assigns user input to a variable `num`
num = int(input('Enter an integer: '))
# andrew's soln
fac = 1
for n in range(num):
    #print(n+1)
    fac *= (n + 1) # rememver pythons counting convention, add 1 to n to 
print(fac)

Enter an integer: 3
6

## Question 5

Modify the above factorial calculation to return an error message if num is negative or is not an integer. 
To exit and raise an error, include `raise Exception('Error message here')`, or  `raise TypeError('Error message here')

In [45]:
# your code here

In [48]:
# andrew's soln
num = int(input('Enter an integer: '))
print(type(num))

# my original solution already does this, if the input can't be cast from str to int then it raises a ValueError

Enter an integer: 1
<class 'int'>